/* geral */
*{
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Trebuchet MS', sans-serif !important;
}

/* body */
.bg-primary{
    background: linear-gradient(360deg, rgb(28,96,163) 0%, rgb(86,165,218) 100%) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

/* container geral */
.bg-secondary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(86,165,218) !important;
    box-shadow: rgba(0,0,0,0.3) 5px 5px 10px;
    color: rgb(65, 65, 65);
    width: 75%;
    transition: width 0.3s ease-in-out;
}

.bg-secondary:hover{
    width: 80%;
    height: auto;
}

/* form */
form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary{
    background-color: rgb(15, 79, 122);
    border-color: rgb(15, 79, 122);
    transition: background-color 0.3s;
    text-align: center;
    width: 50%;
    transition: width 0.3s ease-in-out;
}

.btn-primary:hover{
    background-color: rgb(11, 64, 100);
    border-color: rgb(11, 64, 100);
    width: 55%;
}
